@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
font-family: "Roboto", sans-serif;
}

.form-main-card {
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.1),
    0 -2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  height: 100%;
  margin-right: 24px;
  background-color: white;
}

.form-wrapper {
  max-width: 900px;
}

.page-title {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.chat-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.chat-box {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin-bottom: 12px;
  padding: 10px 14px;
  border-radius: 8px;
  max-width: 60%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.chat-message.user {
  background-color: #d1e7dd;
  align-self: flex-end;
  text-align: right;
}

.chat-message.bot {
  background-color: #e2e3e5;
  align-self: flex-start;
  text-align: left;
}

.chat-project-tag {
  font-size: 12px;
  color: #555;
  margin-bottom: 4px;
}

.chat-form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}